

<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="static/css/admin.css">
   <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

    <header>
        <a href="/">
            <i class="fa-solid fa-house"></i>
        </a>
    </header>
    <h1>Panel Admin</h1>

<a href="/crear_partido"><button class="botones">Crear Partido</button></a>

<a href="/fixture"><button class="botones">Editar Fixture</button></a>

<a href="/cantina_admin"><button class="botones">Editar Cantina</button></a>
</body>
</html>