<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">

    <title>Crear Producto</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/admin_forms.css') }}">

</head>
<body>

<div class="admin-page">

    <div class="admin-form-box">

        <h1>Crear Producto</h1>

        <form method="POST"
        enctype="multipart/form-data"
        class="admin-form">

            <div class="admin-group">

                <label>Nombre</label>

                <input type="text"
                name="nombre"
                required>

            </div>

            <div class="admin-group">

                <label>Descripción</label>

                <textarea
                name="descripcion"></textarea>

            </div>

            <div class="admin-group">

                <label>Precio</label>

                <input type="number"
                step="0.01"
                name="precio"
                required>

            </div>

            <div class="admin-group">

                <label>Stock</label>

                <input type="number"
                name="stock"
                value="0">

            </div>

            <div class="admin-group">

                <label>Sección</label>

                <select name="seccion_id" required>

                    {% for seccion in secciones %}

                    <option value="{{ seccion.id }}">
                        {{ seccion.nombre }}
                    </option>

                    {% endfor %}

                </select>

            </div>

            <div class="admin-group">

                <label>Imagen</label>

                <input type="file"
                name="imagen">

            </div>

            <label class="admin-checkbox">

                <input type="checkbox"
                name="activo"
                checked>

                Producto activo

            </label>

            <button type="submit"
            class="admin-btn">

                Crear producto

            </button>

        </form>

    </div>

</div>

</body>
</html>