<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">

    <title>Editar Partido</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/fixture.css') }}">

</head>
<body>

    <div class="form-container">

        <h1>Editar Partido</h1>

        <form method="POST">

            <!-- DEPORTE -->
            <label>Deporte</label>

            <select name="deporte" required>

                <option value="Futbol"
                {% if partido.deporte == "Futbol" %}selected{% endif %}>
                    Fútbol
                </option>

                <option value="Basquet"
                {% if partido.deporte == "Basquet" %}selected{% endif %}>
                    Básquet
                </option>

                <option value="Voley"
                {% if partido.deporte == "Voley" %}selected{% endif %}>
                    Vóley
                </option>

            </select>

            <!-- EQUIPO 1 -->
            <label>Equipo 1</label>

            <input
            type="text"
            name="equipo1"
            value="{{ partido.equipo1 }}"
            required>

            <!-- EQUIPO 2 -->
            <label>Equipo 2</label>

            <input
            type="text"
            name="equipo2"
            value="{{ partido.equipo2 }}"
            required>

            <!-- PUNTOS -->
            <label>Puntos Equipo 1</label>

            <input
            type="number"
            name="puntos1"
            value="{{ partido.puntos1 }}">

            <label>Puntos Equipo 2</label>

            <input
            type="number"
            name="puntos2"
            value="{{ partido.puntos2 }}">

            <!-- FECHA Y HORA -->
            <label>Fecha</label>

            <input
            type="datetime-local"
            name="fecha"
            value="{{ partido.fecha.strftime('%Y-%m-%dT%H:%M') }}"
            required>

            <!-- BOTON -->
     <div class="acciones">

    <button type="submit" class="btn-guardar">
        💾 Guardar Cambios
    </button>

    <a href="{{ url_for('eliminar_partido', id=partido.id) }}"
       class="btn-eliminar"
       onclick="return confirm('¿Seguro que querés eliminar este partido?')">
        🗑️ Eliminar Partido
    </a>

</div>
        </form>

    </div>

</body>
</html>