<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Login</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/login.css') }}">

</head>

<body>

<div class="login-box">

    <h1>COPA RENAULT</h1>

    <form method="POST">

        <input
            type="email"
            name="email"
            placeholder="Correo"
            required
        >

        <input
            type="password"
            name="password"
            placeholder="Contraseña"
            required
        >

        <button type="submit">
            Ingresar
        </button>

    </form>

    <p>
        ¿No tienes cuenta?
        <a href="/register">Registrarse</a>
    </p>

</div>

</body>
</html>